.movie-card {
  /* border: 1px solid rgba(255, 255, 255, 0.3); */
  border: 1px solid rgba(255, 215, 0, 0.4);
  border-radius: 10px;
  z-index: 100;
}
.movie-image {
  max-width: 210px;
  /* height: fit-content; */
  border-radius: 8px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.movie-title-and-like-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* gap: 50px; */
  width: 200px;
}
.favorite-icon {
  font-size: 0.8rem;
  z-index: 10;
}
.movie-texts {
  padding: 5px 0 5px 5px;
}
.movie-title {
  width: 190px;
  font-family: "Space Grotesk";
  font-weight: 600;
}
.rating-container {
  display: flex;
  align-items: center;
}
.stars {
  font-size: 0.7rem;
}
.filled-star {
  color: gold;
}
.rating-value {
  font-family: "Space Grotesk";
  padding-left: 7px;
  font-size: 0.8rem;
  font-weight: 100;
}
#movie-card-last-line {
  display: flex;
  align-items: center;
  margin-top: 5px;
  justify-content: space-between;
}
.release-year {
  font-size: 0.6rem;
  padding-right: 10px;
  font-family: "Montserrat";
}
