#movie-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 120px;
  /* height: 100%; */
  /* position: relative; */
}

#second-movie-list-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#movie-list {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  margin-left: 200px;
}
#loading-state-container {
  display: flex;
  justify-content: center;
  align-items: center;
}
#load-more-button {
  width: fit-content;
  background-color: gold;
  color: black;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 10px;
  font-family: "Poppins";
  margin: 30px 0;
  font-weight: 400;
  transition: font-weight 0.3s ease, padding 0.5s ease;
}
#load-more-button:hover {
  cursor: pointer;
  font-weight: 600;
  padding: 10px 100px;
}

#search-and-sort-container {
  margin: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  width: 100vw;
}

#search-input {
  padding: 10px;
  width: 23%;
  border-radius: 7px;
  font-family: "Poppins";
}
select {
  appearance: none;
  padding: 10px 15px;
  border-radius: 5px;
  width: 30%;
}

#loading-state {
  width: 50px;
  padding: 8px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: gold;
  --_m: conic-gradient(#0000 10%, #000), linear-gradient(#000 0 0) content-box;
  -webkit-mask: var(--_m);
  mask: var(--_m);
  -webkit-mask-composite: source-out;
  mask-composite: subtract;
  animation: l3 1s infinite linear;
}
@keyframes l3 {
  to {
    transform: rotate(1turn);
  }
}

.side-bar {
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  background-color: black;
  border-right: 1px solid gold;
  /* transform: translate(-0%, -0%); */
  padding: 130px 10px 20px 10px;
  z-index: -1;
}

.side-bar-header {
  color: white;
  font-family: "Poppins";
  font-size: 0.7rem;
  text-transform: capitalize;
  font-weight: 600;
  line-height: 1.1;
  text-align: center;
  margin-bottom: 5px;
}
.side-bar-favorite-movies-container {
  margin-bottom: 50px;
}
.side-bar-favorite-movie-image,
.side-bar-watched-movie-image {
  width: 70px;
}
.side-bar-favorite-movie-title,
.side-bar-watched-movie-title {
  width: 60px;
  color: gold;
  font-family: "Montserrat";
  font-size: 0.5rem;
  text-align: center;
}
.side-bar-favorite-movie,
.side-bar-watched-movie {
  margin-bottom: 7px;
}
